.boldgrid-library-misc-pub-section:before {
  /* Taken from wp-admin/css/edit.css */
  font: normal 20px/1 dashicons;
  speak: none;
  display: inline-block;
  margin-left: -1px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #82878c;
}

.boldgrid-library-misc-pub-section .dashicons-lock:before {
	content: "\f160";
}

.boldgrid-library-misc-pub-section .options {
  margin: 10px 0px;
  display: none;
}

.boldgrid-library-misc-pub-section .options > label {
  display: block;
}

.boldgrid-library-misc-pub-section .value-displayed {
  font-weight: bold;
}

.boldgrid-library-misc-pub-section .value-displayed .template-subtitle,
.boldgrid-library-page-title .template-subtitle {
  display: inline;
  margin: 0;
}

#boldgrid-library-attributes-meta-box div.inside {
  margin: 0px;
  padding: 0px;
}