/**
 * #.# Widget.
 *
 * Configure the widget itself.
 */

#boldgrid-notifications .inside {
	padding: 0px;
	margin: 0px;
}


/**
 * #.# Containers
 *
 * Configure the containers for the icon, title, and version.
 */

/* Icon container. */
#boldgrid-notifications .bglib-item .bglib-icon-container {
	float: left;
	width: 30px;
	margin-right: 10px;
}

/* Title container. */
#boldgrid-notifications .bglib-item .bglib-title-container {
	float: left;
	width: calc(100% - 30px - 10px - 40% - 15px);
}

/* Version container. */
#boldgrid-notifications .bglib-item .bglib-version-container {
	float: right;
	width: 40%;
	text-align: right;
}


/**
 * #.# Icon.
 *
 * Configure the icon.
 */

#boldgrid-notifications .bglib-item .bglib-icon-container img,
#boldgrid-notifications .bglib-item .bglib-icon-container span {
	width: 100%;
	font-size: 2em;
}


/**
 * #.# Title.
 *
 * Configure the title.
 */
#boldgrid-notifications .bglib-title {
	font-weight: bold;
	margin-bottom: .5em;
	margin-top: 0px;
}


/**
 * #.# Version
 *
 * Configure the version.
 */

#boldgrid-notifications .bglib-version {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: .85em;
}


/**
 * #.# Items
 *
 * Configure items and sub items.
 */

/* The item is the container for an individual product and all of its notices. */
#boldgrid-notifications .bglib-item {
	padding: 10px;
	padding-bottom: 0px;
	min-height: 35px;
}

#boldgrid-notifications .bglib-subitems .notice {
	margin-bottom: 0px;
}


/**
 * #.# Icons.
 *
 * Configure badges, icons, etc.
 */

#boldgrid-notifications .bglib-item .dashicons:before,
#boldgrid-notifications .bglib-item .dashicons-before:before {
	/* By default, give icons a lighter color. */
	color: #aaa;
}

#boldgrid-notifications .bglib-item .dashicons-warning::before {
	/* Matches the red color of the warning used on the dashboard for "PHP Update Required". */
	color: #df3232;
}

#boldgrid-notifications .bglib-item .dashicons-info::before {
	/* Matches the blue color of a highlighted menu item. */
	color: #0073aa;
}